body {
			background: white;
}


.header {
			background: white;
			margin-top: 0px;
			padding: 10px;
}
.header .image {
			background: url('https://api.iconify.design/simple-icons/heroku.svg?color=rgba(0%2C%200%2C%20153%2C%200.4)') no-repeat center center / contain;
			width: 50px; 
			height: 50px; 
			vertical-align: center;
			display: inline-block;
			vertical-align: center;
}
.header .text {
			font: x-large sans-serif; 
			text-align: center;
			vertical-align: top;
			position:absolute; 
			left:120px; 
			top:30px;
}
.header .image,
.header .text {
			display: inline-block;
			vertical-align: center;
}
.Header-Colour {
			background: yellow;
			vertical-align: top;
}

/* Header seprated Line */

.fancy-line { 
			border: 0; 
			height: 1px; 
			position: relative; 
			margin: 0.5em 0; 
}
.fancy-line:before { 
			top: -0.5em; 
			height: 1em; 
}
.fancy-line:after { 
			height: 0.5em; 
			top: calc(-0.5em + 1px); /* adjusted this */ 
}
.fancy-line:before,
.fancy-line:after { 
			content: ''; 
			position: absolute; 
			width: 100%; 
}
.fancy-line, .fancy-line:before { 
			background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%); 
}
body, .fancy-line:after { 
			background: #f4f4f4; 
}
