@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}



body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  /*background-color: white;*/
  background: white;
  height: 40px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  border: 0px solid;
  border-bottom-width: 5px;
  /*padding: 10px;*/
  border-bottom-style: solid;
  border-bottom-color: rgba(28,110,164,0.67);
  border-radius: 0px 0px 16px 16px;
}

header div.Heroku-Logo {
  background: url('https://api.iconify.design/simple-icons/heroku.svg?color=rgba(0%2C%200%2C%20136%2C%200.4666666666666667)&width=100&height=100') no-repeat center center / contain;
  width: 30px; 
  height: 40px; 
  vertical-align: center;
  display: inline-block;
  position:absolute;
  left:40px; 
  top:1.5px;
}

header div.Heroku-Title {
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
  color: rgba(83,200,230,0.982);
  float: center;
  position:absolute;
  left:120px; 
  top: 2px;
  vertical-align: top;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.header .Heroku-Logo,
.header .Heroku-Title {
  display: inline-block;
  vertical-align: center;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #0086;
  text-transform: uppercase;
  float: center;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 
 Centering Footer content*/
 
footer {
  /*background-color: white;*/
  background: white;;
  opacity: .9;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #1C6EA4;
  border-radius: 16px;
  /*text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;*/
 }

footer div.Footer-Text {
  font-family: Fantasy;
  background: white;
  display: inline-block;
  text-transform: uppercase;
  position:absolute;
  left:120px; 
  bottom: 0px;
  font-size: 10px;
  /*top: 4px;
  border-radius: 15px;
  /*border: 0.2px solid black;*/
  /*margin: 5px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 40px 2px rgba(62,255,255,0.777);
  animation: flicker 1.5s infinite alternate;*/
}

.container {
  width: 0 auto;/*600px;*/
  margin: 0 auto;
}
/*div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}
*/

/* News Type style */
.tcontainer {
  width: 100%;
  overflow: hidden;
}
    
.ticker-wrap {
  width: 100%;
  padding-left: 100%;
  background-color: #eee;
}
    
@keyframes ticker {
  100% {
  transform: translate3d(-100%, 0, 0);
  }
}
    
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-timing-function: linear;
  animation: ticker 40s infinite;
}
    
.ticker-move:hover {
  animation-play-state: paused;
}
    
.ticker-item {
  display: inline-block;
  padding: 0 40px;
  font-size: 20px;
}
    
TestPage div.Menu {
  font-size: 100px;
}

DancingGif {
  width: 25px;
  height: 25px;
  margin-bottom: 0;
}
