<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="Heroku-Logo"></div><div class="Heroku-Title">Heroku Management</div>
      </div>
    </header>
    <div class="tcontainer">
      <div class="ticker-wrap">
        <div class="ticker-move">
          <div class="ticker-item">Poor state of poverty alleviation.</div>
          <div class="ticker-item">Assam flood situation worsens again, death toll rises to 89 .</div>
          <div class="ticker-item">Health sector rife with mismanagement, corruption.</div>
          <div class="ticker-item">Regent Hospital chairman Shahed handed over to RAB .</div>
        </div>
      </div>
    </div>
    <!-- <div class="Menu-Title">
      <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
    </div> -->
    <TestPage>
      <div class="container">
        <div class="Menu">akhil</div>
      </div>
    </TestPage>
    <footer>
      <div class="container">
        <div class="Footer-Text">© Copyright akhil meena - 2022 ❤</div>
      </div>
    </footer>
  </body>
</html>