<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <script type="text/javascript" src="/static/JavaScript/main.js"></script>
    <script type="text/javascript" src="https://github.com/akhilmeena/Youtube-data-api/blob/3ddf8fcaa7f43d0d66b578ff6eb55836d54c2288/static/JavaScript/main.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="Heroku-Logo"></div><div class="Heroku-Title">Heroku Management</div>
      </div>
    </header>
    <div class="tcontainer">
      <div class="ticker-wrap">
        <div class="ticker-move">
          <div class="ticker-item">AKHIL IS YOUR NEW PM OF UR COUNTRY</div>
          <div class="ticker-item">AKHIL HAVE TWO LEGS</div>
          <div class="ticker-item">AKHIL HAVE TWO HAND</div>
          <div class="ticker-item">AKHIL HAVE TWO TOUNG</div>
        </div>
      </div>
    </div>
    <!-- <div class="Menu-Title">
      <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
    </div> -->
    <TestPage>
      <div class="container">
        <div class="Menu">akhil</div>
      </div>
    </TestPage>
    <p id="demo">A Paragraph</p>
    <button type="button" onclick="myFunction()">Try it</button>
    <img class="animated-gif" src="static/IMGS/56a83919daa9fc23389977a7c38fca35.gif">
    <footer>
      <div class="container">
        <div class="Footer-Text">© Copyright akhil meena - 2022 ❤</div>
      </div>
    </footer>
    <script type="text/javascript" src="/static/JavaScript/main.js"></script>
    <script type="text/javascript" src="https://github.com/akhilmeena/Youtube-data-api/blob/3ddf8fcaa7f43d0d66b578ff6eb55836d54c2288/static/JavaScript/main.js"></script>
  </body>
</html>