<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="Heroku-Logo"></div><div class="Heroku-Title">Heroku Management</div>
      </div>
    </header>
    <div class="container">
      <div id="breaking-news-container">
        <div id="breaking-news-colour" class="slideup animated"></div>  
        <span class="breaking-news-title delay-animated slidein">
          // 🔔 UPDATE //
        </span> 
        <a class="breaking-news-headline delay-animated2 fadein marquee">
          AKHILESH IS NEW PM OF OUR COUNTRY & HE IS A MENTAL GUY.🤣
        </a>  
      </div>  
    </div>  
    <!-- <div class="Menu-Title">
      <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
    </div> -->
    <TestPage>
      <div class="container">
        <div class="Menu">akhil</div>
      </div>
    </TestPage>
    <footer>
      <div class="container">
        <div class="Footer-Text">© Copyright akhil meena - 2022 ❤</div>
      </div>
    </footer>
  </body>
</html>